<app-menu></app-menu>
<section class="d-flex full-page">
    <div class="content">
        <div class="d-flex">
            <div class="d-flex flex-column info-header">
              <div class="user-img">
                <img [src]="searchPerson.avatar" alt="">
              </div>
              <label class="name">{{searchPerson.nickname}}</label>
            </div>
            <div class="d-flex flex-column">
              <p>{{searchPerson.biography}}</p>
            </div>
            <div class="d-flex flex-column btnFriend">
                <button *ngIf="!friend" class="btn follow-btn" (click)= "followUnfollow()">Follow</button>
                <button *ngIf="friend" class="btn unfollow-btn" (click)= "followUnfollow()">Unfollow</button>

              </div>

          </div>

          <div class="post-detail" *ngFor='let post of posts; let i = index'>
            <app-post-detail (click)="openDialog(post)" [postInfo]="post"></app-post-detail>
            <div (click)="openDialog(post)">
              <div class="post-image" *ngIf='post.media_content_type == "image"'>
                <div class="zoom"></div>
                <img src="{{post.image}}">
              </div>
              <div class="post-image" *ngIf='post.media_content_type == "video"'>
                <div class="zoom"></div>
                <video controls (click)="toggleVideo()" #videoPlayer class="video-center" src="{{post.image}}"></video>
              </div>
            </div>
            <div class="detail-bottom">
              <div class="d-flex">
                <button (click)="reaction(post,i)" class="reaction-btn btn">
                  <svg version="1.1" id="brick-btn{{i}}" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
                    <g>
                      <g>
                        <g>
                          <path d="M356.571,102.91c-22.688,0-36.571,8.879-36.571,13.714s13.884,13.714,36.571,13.714c22.688,0,36.571-8.879,36.571-13.714
                            S379.259,102.91,356.571,102.91z" />
                          <path d="M164.571,203.481c-22.688,0-36.571,8.879-36.571,13.714s13.884,13.714,36.571,13.714
                            c22.688,0,36.571-8.879,36.571-13.714S187.259,203.481,164.571,203.481z" />
                          <path d="M260.571,153.196c-22.688,0-36.571,8.879-36.571,13.714s13.884,13.714,36.571,13.714
                            c22.688,0,36.571-8.879,36.571-13.714S283.259,153.196,260.571,153.196z" />
                          <polygon points="192,309.639 192,471.934 512,307.609 512,145.314 			" />
                          <path d="M329.103,40.066L10.714,203.562l172.183,90.192l318.388-163.496L329.103,40.066z M164.571,249.196
                            c-31.272,0-54.857-13.759-54.857-32s23.585-32,54.857-32c31.272,0,54.857,13.759,54.857,32S195.844,249.196,164.571,249.196z
                             M260.571,198.91c-31.272,0-54.857-13.759-54.857-32s23.585-32,54.857-32c31.272,0,54.857,13.759,54.857,32
                            S291.844,198.91,260.571,198.91z M356.571,148.624c-31.272,0-54.857-13.759-54.857-32s23.585-32,54.857-32
                            c31.272,0,54.857,13.759,54.857,32S387.844,148.624,356.571,148.624z" />
                          <polygon points="0,380.807 173.714,471.797 173.714,309.584 0,218.594 			" />
                        </g>
                      </g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                  </svg>
                </button>
                <div (click)="openDialog(post)" *ngIf="post.reactions.length == 0">0</div>
                <div (click)="openDialog(post)" *ngIf="post.reactions.length != 0">{{post.reactions.length}}</div>
                <button (click)="openDialog(post)" class="btn reaction-btn">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                      d="M4 4h16v12H5.17L4 17.17V4m0-2c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2H4zm2 10h8v2H6v-2zm0-3h12v2H6V9zm0-3h12v2H6V6z" />
                  </svg>
                </button>
              </div>
              <p (click)="openDialog(post)">{{post.publishDate}}</p>
            </div>
          
          </div>
                  
    </div>
       
</section>
