.info-header{
    justify-content: center;
    padding: 0 15px 0 0;
    margin-right: 15px;
    border-right: 1px solid rgb(255 255 255 / 60%);
}
.user-img{
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: 3px solid #7e5e9d;
    border-radius: 50%;
    margin-bottom: 10px;
    img{
        width: 150px;
        height: 150px;
    }
}

.list{
	margin-top: 25px;
	flex-direction: column;

}
.post-detail{
	margin:10px 0;
	align-items: center;
	padding:17px;
	background-color: #414141;
    width: -webkit-fill-available;
	border: 5px solid #7e5e9d;
}

.zoom{
	cursor: pointer;
	position: absolute;
	transition: 0.5s;
	background-color: rgba(255, 255, 255, 0.2);
	width: 100%;
	height: 100%;
	display: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px;
	background-image: url(../../../assets/imagen/zoom_in_black_24dp.svg);
}

.follow-btn{
	color: #7e5e9d;
	background-color: #414141;
	border-radius: 15px;
	border: 3px solid #7e5e9d;
	min-width: 90px;
}

.unfollow-btn{
	color: #333;
	background-color: #7e5e9d;
	border-radius: 15px;
	border: 3px solid #7e5e9d;
	min-width: 90px;

}


.post-image{
	position: relative;
	margin-top: 16px;
	display: flex;
	justify-content: center;
	height: 336px;
	background-size: 108px;
    box-shadow: inset 0 0 20px 4px #0d0d0d;
	background-image: url(../../../assets/imagen/firewall.svg);
	&:hover{
		.zoom{
			display: block;
		}
	}
	img{
		max-width: 100%;
		height: 100%;
	}
	video{
		height: 100%;
		max-width: 100%;
		&:focus{
			outline: none;
		}
	}
}

.detail-bottom{
	padding-top: 16px ;
	margin-top: 16px;
	border-top: solid 2px rgb(105, 105, 105);
	display: flex;
	justify-content: space-between;
	p{
		margin:0;
	}
	div{
		div{
			align-items: center;
			margin-right: 8px;
		}
	}
}

.reaction-btn{
	background-color: transparent;
	padding: 0;
	margin-right: 8px;
	svg{
		fill: #c2c2c2;
		width: 25px;
	}
}
.interaction-panel-post{
	display: -webkit-inline-box;
	width: 100%;
}
.user-avatar {
	width: 85px;
	min-width: 85px;
	height: 85px;
	border-radius:50%;
	border: 2px solid #7e5e9d;
	overflow: hidden;
	img{
		width: 100%;
		height: 100%;			
	}
}





.content{
    align-self: start;
    text-align: left;
    background-color: #414141;
    padding: 15px;
    margin: 0 170px;
    width: -webkit-fill-available;
}
.sidebar{
    top: 55px;
    position: fixed;
    height: inherit;
    background-color: #414141;
    padding: 15px 0;
    a{
        cursor: pointer;
        padding: 7px 12px;
        border-bottom: 1px solid;
    }
}
.btnFriend{
	margin-left: auto;
	
}
