@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
.todo{
  background-color: #333333 !important;
  font-family: 'Oxygen', sans-serif;
  height: 100vh;
  padding-top: 48px;

}

.form-section{
  width: 350px;

}
.col-8{
  margin-right: 5% !important;
}

.title-section{
  color:white;

}
.title-section h1{
  font-size: 80px;
  text-align: center;
}

form{
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  background-color: #7e5e9d;
  color: white;
  font-weight: bold;
}
.txt-title-hub{
  background-color:#7e5e9d ;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
  display: inline-block;
  border-radius: 10px;
  font-weight: 700;
}
.txt-title{
  display: inline-block;
  color: #7e5e9d;
  margin-right: 25px;
  font-weight: 700;
  font-size: 40px;
  border-width: 3px;
  text-shadow: 5px 0 0 rgb(0, 0, 0), -5px 0 0 rgb(0, 0, 0), 0 5px 0 rgb(0, 0, 0), 0 -5px 0 rgb(0, 0, 0), 3px 3px rgb(0, 0, 0), -3px -3px 0 rgb(0, 0, 0), 3px -3px 0 rgb(0, 0, 0), -3px 3px 0 rgb(0, 0, 0);
}
.title{
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle-ln-1{
  text-align: center;
  padding-right: 18%;
  font-weight: bold;
  color: #7e5e9d;
  margin-bottom: 0px !important;
  font-size: 22px;
}

.subtitle-ln-2{
  text-align: center;
  color: #7e5e9d;
  font-weight: bold;
  font-size: 22px;
  display: inline-block;
}

.img-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #7e5e9d;
}

.form-group label{
  margin-top: 4px;
}

.img-foot{
  text-align: center;
}
.p-hub{
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #7e5e9d;
  display: inline-block;
  border-radius: 4px;
  font-weight:bold ;
  margin-right: 4px;
  font-size: 22px;
}

.btn{
  margin-right: auto !important;
  margin-top: 12% !important;
  background-color: #542c7a !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
  padding-top: 4%  !important;
  padding-bottom: 4% !important;
  font-weight: bold;
  margin-left: 55px !important;
}

#psswdError{
  color: rgb(148, 0, 0);
}
