<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="register.component.scss">


<div class="todo">
  <div class="container-fluid page">
    <div class="page">
      <div class="row">
        <div class="col-8 justify-content-center title-section">
          <!--Title -->
          <div class="title">
            <h1 class="txt-title">Wall</h1>
            <h1 class="txt-title-hub">Hub</h1>
          </div>
          <!--End title-->

          <!--sub title-->
          <p class="subtitle-ln-1">¡Bienvenido a WallHub ,</p>
          <p class="subtitle-ln-2" style="margin-left: 50%;">un </p> <p class="p-hub">Hub<p class="subtitle-ln-2"> para todos!</p>
          <!--end sub title-->

          <!--img-->
          <div class="img-center">
            <img src="assets/imagen/ImagenRegister.jpg" style="width:80%">
          </div>
          <!--end img-->
        </div>




        <!--Form-->
        <div class="col-4 form-section">
          <form [formGroup]="newUserForm">
            <div class="form-group justify-content-center" style="margin-top: 15px;">
              <label for="nickname">Nombre de usuario</label>
              <input type="text" class="form-control" id="form_nickname" aria-describedby="username"
                    placeholder="Nombre de usuario" formControlName="nickname">
            </div>

            <div class="form-group" style="display: inline-block;">
              <label for="firstName">Nombre</label>
              <input type="text" class="form-control" id="form_firstname" aria-describedby="firstname"
                    placeholder="Nombre" formControlName="firstName">
            </div>

            <div class="form-group" style="display: inline-block;">
              <label for="lastName">Apellido</label>
              <input type="text" class="form-control" id="form_lastname" aria-describedby="lastname"
                    placeholder="Apellido" formControlName="lastName">
            </div>

            <div class="form-group">
              <label for="birthDate">Fecha de nacimiento</label>
              <input type="date" class="form-control" id="form_birthdate" aria-describedby="birthdate"
                    placeholder="Fecha de nacimiento" formControlName="birthDate">
            </div>

            <div class="form-group">
              <label for="phone">Teléfono</label>
              <input type="text" class="form-control" id="form_phone" aria-describedby="phone"
                    placeholder="Teléfono" formControlName="phone">
            </div>

            <div class="form-group">
              <label for="email">Correo Electrónico</label>
              <input type="email" class="form-control" id="form_email" aria-describedby="email"
                    placeholder="Correo electrónico" formControlName="email">
            </div>
            <br>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" class="form-control" id="form_password" aria-describedby="password"
                    placeholder="Contraseña" formControlName="password">
            </div>

            <div class="form-group">
              <label for="confirmPassword">Confirmar contraseña</label>
              <input type="password" class="form-control" id="form_repassword" aria-describedby="repassword"
                    placeholder="Repetir contraseña" formControlName="confirmPassword">
              <span id="psswdError"></span>
            </div>
            <input type="button" class="btn" [disabled]="!newUserForm" (click)="newUser(newUserForm.value)" value="Registrarse">
            <div class="d-flex justify-content-center links">
              <a style="color: white; text-decoration: none;" routerLink="/login">Ya tienes cuenta? Inicia sesión!</a>
            </div>
          </form>
        </div>
        <!--End Form-->
      </div>
    </div>
  </div>
</div>
