<div class="todo">
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="assets/imagen/logotipo_HW.png" class="brand_logo" alt="Logo">
					</div>

				</div>

				<div class="d-flex justify-content-center form_container">
					<form [formGroup]="loginForm">
					<div class="input-group mb-3">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="" class="form-control input_user" value="" placeholder="Username" formControlName="user" (keyup.enter)="login(loginForm.value)">
					</div>

					<div class="input-group mb-2">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="" class="form-control input_pass" value="" placeholder="Password" formControlName="password" (keyup.enter)="login(loginForm.value)">
						</div>
						<span id="ErrorMsg" style="color: red;"></span>
					</form>
				</div>

				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						<a style="color: black;" href="#">Problemas iniciando sesión?</a>
					</div>

					<div class="d-flex justify-content-center links">
						<a style="color: white;" routerLink="/register">Registrarse</a>
					</div>
				</div>
				<div class="d-flex justify-content-center mt-3 login_container">
					<button  type="button" name="button" class="btn login_btn" (click)=login(loginForm.value)>LOGIN</button>
				</div>
			</div>
		</div>
	</div>
</div>
