<div class="user-avatar">
    <img [src]="user.avatar" alt="">
</div>
<form  class= "post-form" [formGroup]="newPostForm">
    <label>{{user.nickname}}</label>
    <textarea id="messageInput" (keyup)="textAreaAdjust()" cols="30" rows="10" formControlName="message"
        placeholder="Pon algo guapo hermano...">
        </textarea>
    <label class="input-btn" for="file-input">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-imgupload" width="34px"
            fill="#000000">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
                d="M18 20H4V6h9V4H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-9h-2v9zm-7.79-3.17l-1.96-2.36L5.5 18h11l-3.54-4.71zM20 4V1h-2v3h-3c.01.01 0 2 0 2h3v2.99c.01.01 2 0 2 0V6h3V4h-3z" />
        </svg>
    <input class="d-none" id="file-input" type="file" (change)="upload($event)" accept=".png,.jpg,.mp4,.avi,.wav" />
    </label>
</form>
<button type="button" class="btn publish-btn" [disabled]="!newPostForm.valid" (click)="sendPost(newPostForm.value)">
    <img src="assets/imagen/sendbtn.svg" width="100%" height="100%" alt="">
</button>

<div *ngIf="src">
    <img src={{src}}>
</div>