$primary:"#7e5e9d";

app-post{
	display: flex;
	border: 5px solid #7e5e9d;
	align-items: center;
	justify-content: space-around;
	padding: 14px 0;
	background-color: #444444;
	border-radius: 17px 17px 0 0;
	background-repeat: no-repeat;
	background-size: 172px;
    background-position: -8px -37px;	
	background-image: url(../../../assets/imagen/brickwalll-post.svg);
}

.publish-btn{
	width: 70px;
	height: 70px;
	border-radius:50%;
	border: 3px solid #7e5e9d;
	background-color: #7e5e9d;
	&:disabled{
		background-color: transparent;
	}
}

.post-form{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	label{
		font-size: 16px;
		font-weight: 700;
	}
}

.input-btn{
	cursor: pointer;
	position: absolute;
	right: 15px;
	top:42px;
}

.user-avatar {
	width: 85px;
	min-width: 85px;
	height: 85px;
	border-radius:50%;
	border: 2px solid #7e5e9d;
	overflow: hidden;
	img{
		width: 100%;
		height: 100%;			
	}
}

#messageInput{
	background-color: #333333;
	color: white;
	border-radius: 10px;
	border:2px solid #7e5e9d;
	&:focus{
		outline: none;
	}
	padding: 10px;
	width: 600px;
	height: 65px;
	min-height: 65px;
	resize: none;
	overflow: hidden;
}
.image-upload>input {
	display: none;
  }
.image-upload{
	width: max-content;
}

.image-upload {
	
	top: 43px;
	left: 563px;
	position: absolute;
}
svg{
	fill: #818181;
}