.amigo{
    color:white;
    display: flex;
    justify-content: space-between;
    background: #333333;
    //
    width: 39vw;
	border: 3px solid #7e5e9b;
    border-radius: 5px;
    margin: 10px;
}

.friend{
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    width: 70px;
    height: 70px;
}

p{
    color: white;
    font-size: 28px;
    margin-left: 20px;
}

button{
    width: 100px;
    height: 30px;
    color: white;
    background: #414141;
}

.info{
    display: flex;
    align-items: center;
}
