<h1>FRIENDS</h1>

<div class="d-flex friend">
    <div *ngFor="let entry of nameFriends" (click)="navigateUserArea(entry.uid)" class="amigo">
        <div class="info">
            <img (click)="navigateUserArea(entry.uid)" src={{entry.avatar}}>
            <p (click)="navigateUserArea(entry.uid)">{{entry.nickname}}</p>
        </div>
    </div>
</div>
