.logo{
    align-items: center;
    cursor: pointer;
    &:focus{
        outline: none;
    }
}
.nav-menu{
    z-index: 5;
    position: fixed;
    width: -webkit-fill-available;
    width: -moz-available;
    padding:5px;
	border-bottom: 5px #7e5e9d solid;
	box-shadow: -1px -4px 20px 0px #4a0092;
    align-items: center;
    background-color: #414141;
    justify-content: space-between;
    ul{
        margin: 0;
        list-style-type: none;
    }
    li{
            padding: 5px;
            float: left;
        a{
            color:white;
            padding: 13px;
            text-decoration: none;
            &:hover{
                background-color: #333333;
            }
        }
    }
    button{
        background-color: transparent;
    }
    input{
        width: 300px;
        color: white;
        border-radius: 10px;
        padding: 5px 15px;
        border: none;
        background-color: #333333;
        &:focus{
            outline: none;
        }
    }
}
.avatarMenu{
    margin-right: 4px;
    width: 20px;
    height: auto;
    border-radius: 50%;
}