<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->

<div class="col-4 form-section">
  <h1> PROFILE CONFIGURATION</h1>
  <form [formGroup]="updateUser">
    <div class="form-group justify-content-center" style="margin-top: 15px;">
      <button for="nickname" (click)="col1 = !col1; uncollapse(1,col1)" [ngClass]="col1 ? 'active' : 'unactive'">NICKNAME</button>
      <div  class="content" id="content1">
        <input type="text" class="form-control" id="form_nickname" aria-describedby="username"
          placeholder="NICKNAME" formControlName="nickname" style="color: black; font-weight: bold;">
        <div class="form-group">
          <input type="button" style="background: #7e5e9b;" class="btn btn-primary  " [disabled]="!updateUser"
            (click)="collectingData(updateUser.value)" value="CONFIRM">
        </div>
      </div>
    </div>

    <div class="form-group">
      <button for="biografia" (click)="col2 = !col2; uncollapse(2,col2)" [ngClass]="col2 ? 'active' : 'unactive'">BIOGRAPHY</button>
      <div  class="content" id="content2">
        <textarea id="form_bio" cols="44" rows="5" class="form-control " formControlName="biography"
          placeholder=" BIOGRAPHY" style="color: black; font-weight: bold;"></textarea>
        <div class="form-group">
          <input type="button" style="background: #7e5e9b;" class="btn btn-primary " [disabled]="!updateUser"
            (click)="collectingData(updateUser.value)" value="CONFIRM">
        </div>
      </div>
    </div>

    <div class="form-group">
      <button for="phone" (click)="col3 = !col3;uncollapse(3,col3)" [ngClass]="col3 ? 'active' : 'unactive'">PHONE</button>
      <div  class="content" id="content3">
        <input type="text" class="form-control" id="form_phone" class="form-control " aria-describedby="phone"
          placeholder="PHONE NUMBER" formControlName="phone" style="color: black; font-weight: bold;">
        <div class="form-group">
          <input type="button" style="background: #7e5e9b;" class="btn btn-primary " [disabled]="!updateUser"
            (click)="collectingData(updateUser.value)" value="CONFIRM">
        </div>
      </div>
    </div>

    <div class="form-group">
      <button for="password" (click)="col4 = !col4;uncollapse(4,col4)" [ngClass]="col4 ? 'active' : 'unactive'">PASSWORD</button>
      <div  class="content" id="content4">
        <input type="password" class="form-control" id="form_password" class="form-control  "
          aria-describedby="password" placeholder="PASSWORD" formControlName="password"
          style="color: black; font-weight: bold;">
        <input type="password" class="form-control" id="form_repassword" class="form-control  "
          aria-describedby="repassword" placeholder="REPEAT PASSWORD" formControlName="confirmPassword"
          style="color: black; font-weight: bold;">
        <span id="psswdError"></span>
        <div class="form-group">
          <input type="button" style="background: #7e5e9b;" class="btn btn-primary  " [disabled]="!updateUser"
            (click)="collectingData(updateUser.value)" value="CONFIRM">
        </div>
      </div>
    </div>

    <div class="form-group">
      <button for="password" (click)="col5 = !col5;uncollapse(5,col5)" [ngClass]="col5 ? 'active' : 'unactive'">CHANGE IMAGE</button>
      <div  class="content" id="content5">
        <div class="d-flex flex-column">
          <label>It will automaticly change your avatar when you upload the new photo: </label>
          <label for="file-input">
            <input id="file-input" type="file" (change)="upload($event)" (click)="send()" accept=".png,.jpg,.mp4,.avi,.wav,.mkv" />
          </label>
        </div>
      </div>
    </div>
  </form>
</div>