.content{
    display: none;
    overflow: hidden;
    height: 0;
    width: 40vw;
    border-bottom: 2px solid gray;
    flex-direction: column;
    justify-content: space-around;
    background-color: #444444;
    transition: 1s;
    input[type=text]{
        height: 50px;
    }
    textarea{
        height: 112px;
        resize: none;
        
    }
}
.active{
    background-color: #7e5e9b;
}
.unactive{
    background-color: #414141;
}
.form-group{
    button{
        border: 4px solid #7e5e9b;
        color: white;
        font-size: 18px;
        text-align: start;
        width: 40vw;
        height: 5vh;
        transition: 0.5s;
        &:focus{
            outline : none;
        }
        &:hover{
            background-color: #7e5e9b;

        }
    }
}