<div (click)="navigateUserArea()" class="user-avatar">
    <img src="{{user.avatar}}" alt="">
</div>
<div  class="detail-body">
    <b (click)="navigateUserArea()">{{user.nickname}}</b>
    <p (click)="openDialog(postInfo)">{{postInfo.message}}</p>
</div>