app-post-detail{
    display: flex;
    
}
.detail-body{
    margin-left:40px;
    b{
        font-size: 16px;
        margin-bottom: 16px;
    }
    p{
		overflow-wrap: anywhere;
        margin-top: 8px;
    }
}

.user-avatar {
	width: 85px;
	min-width: 85px;
	height: 85px;
	border-radius:50%;
	border: 2px solid #7e5e9d;
	overflow: hidden;
	img{
		width: 100%;
		height: 100%;			
	}
}