<app-menu></app-menu>
<section class="d-flex full-page">
    <nav class="sidebar d-flex flex-column">
        <a (click)="profile = true; config = false; friends = false">Profile</a>
        <a (click)="profile = false; config = true; friends = false">Configuration</a>
        <a (click)="profile = false; config = false; friends = true">Friends</a>
    </nav>
    <div class="content">
        <app-profile *ngIf="profile"></app-profile>
        <app-user-config *ngIf="config"></app-user-config>
        <app-friends *ngIf="friends"></app-friends>
    </div>
</section>