.content{
    align-self: start;
    text-align: left;
    background-color: #414141;
    padding: 15px;
    margin: 0 170px;
    height: auto;
    width: -webkit-fill-available;
}
.sidebar{
    top: 55px;
    position: fixed;
    height: inherit;
    background-color: #414141;
    padding: 15px 0;
    a{
        cursor: pointer;
        padding: 7px 12px;
        border-bottom: 1px solid;
    }
}
