/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

html,body{
    font-size: 14px;
    background-color: #333333;
    font-family: 'Oxygen', sans-serif !important;
    color: white !important;
    height: -webkit-fill-available;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #414141; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7e5e9b; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #71459a; 
  }
.d-flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.full-page{
    align-items: center;
    padding: 75px 0 0 0;
    position: relative;
    height: -webkit-fill-available;
}
.btn{
    border:none;
    &:focus{
        box-shadow: none;
    }
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #ffffff;
  }
  
  .svg-icon circle {
    stroke: #ffffff;
    stroke-width: 1;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
