<div class="post-detail-dialog">
    <!-- <img class="logo-dialog" src="assets/imagen/logotipo_HW.png" alt=""> -->
    <div class="main-container">
        <div *ngIf="data.post.media" class="img-container">
            <div *ngIf='data.post.media_content_type == "image"'>
                <img class="image-center" src="{{data.post.image}}">
            </div>
            <div *ngIf='data.post.media_content_type == "video"'>
                <video controls (click)="toggleVideo()" #videoPlayer class="video-center" width="100%"
                    src="{{data.post.image}}"></video>
            </div>
        </div>
        <div class="d-flex user-info">
            <img class="user-avatar" src="{{postOwner.avatar}}" alt="">
            <div class="dialog-content">
                <h1>{{postOwner.nickname}}</h1>
                <h2>{{data.post.message}}</h2>
            </div>
        </div>
        <div class="interaction-panel-post-dialog">
            <button class="reaction-btn btn" (click)="reaction(data.post)">
                <svg version="1.1" id="brick-btn" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                    style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <g>
                            <g>
                                <path d="M356.571,102.91c-22.688,0-36.571,8.879-36.571,13.714s13.884,13.714,36.571,13.714c22.688,0,36.571-8.879,36.571-13.714
				S379.259,102.91,356.571,102.91z" />
                                <path d="M164.571,203.481c-22.688,0-36.571,8.879-36.571,13.714s13.884,13.714,36.571,13.714
				c22.688,0,36.571-8.879,36.571-13.714S187.259,203.481,164.571,203.481z" />
                                <path d="M260.571,153.196c-22.688,0-36.571,8.879-36.571,13.714s13.884,13.714,36.571,13.714
				c22.688,0,36.571-8.879,36.571-13.714S283.259,153.196,260.571,153.196z" />
                                <polygon points="192,309.639 192,471.934 512,307.609 512,145.314 			" />
                                <path d="M329.103,40.066L10.714,203.562l172.183,90.192l318.388-163.496L329.103,40.066z M164.571,249.196
				c-31.272,0-54.857-13.759-54.857-32s23.585-32,54.857-32c31.272,0,54.857,13.759,54.857,32S195.844,249.196,164.571,249.196z
				 M260.571,198.91c-31.272,0-54.857-13.759-54.857-32s23.585-32,54.857-32c31.272,0,54.857,13.759,54.857,32
				S291.844,198.91,260.571,198.91z M356.571,148.624c-31.272,0-54.857-13.759-54.857-32s23.585-32,54.857-32
				c31.272,0,54.857,13.759,54.857,32S387.844,148.624,356.571,148.624z" />
                                <polygon points="0,380.807 173.714,471.797 173.714,309.584 0,218.594 			" />
                            </g>
                        </g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                </svg>

            </button>
            <div class="m-r-20" *ngIf="data.post.reactions.length == 0">0</div>
            <div class="m-r-20" *ngIf="data.post.reactions.length != 0">{{data.post.reactions.length}}</div>
            <p class="text-right">{{data.post.publishDate}}</p>
        </div>
    </div>
    <div class="comment-section">
        <div class="comments">
            <div *ngFor="let comment of commentList; let i = index">
                <div class="comment">
                    <img class="comment-avatar" src="{{comment.avatar_owner}}" alt="">
                    <b>{{comment.name_owner}} :</b>
                    <p>{{comment.data.message}}</p>


                    <button (click)="likeDislikeComment(comment,i)" class="reaction-btn btn">
                        <svg version="1.1" id="brick-btn-comment{{i}}" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                        xml:space="preserve">
                        <g>
                            <g>
                                <g>
                                    <path d="M356.571,102.91c-22.688,0-36.571,8.879-36.571,13.714s13.884,13.714,36.571,13.714c22.688,0,36.571-8.879,36.571-13.714
                        S379.259,102.91,356.571,102.91z" />
                                    <path d="M164.571,203.481c-22.688,0-36.571,8.879-36.571,13.714s13.884,13.714,36.571,13.714
                        c22.688,0,36.571-8.879,36.571-13.714S187.259,203.481,164.571,203.481z" />
                                    <path d="M260.571,153.196c-22.688,0-36.571,8.879-36.571,13.714s13.884,13.714,36.571,13.714
                        c22.688,0,36.571-8.879,36.571-13.714S283.259,153.196,260.571,153.196z" />
                                    <polygon points="192,309.639 192,471.934 512,307.609 512,145.314 			" />
                                    <path d="M329.103,40.066L10.714,203.562l172.183,90.192l318.388-163.496L329.103,40.066z M164.571,249.196
                        c-31.272,0-54.857-13.759-54.857-32s23.585-32,54.857-32c31.272,0,54.857,13.759,54.857,32S195.844,249.196,164.571,249.196z
                         M260.571,198.91c-31.272,0-54.857-13.759-54.857-32s23.585-32,54.857-32c31.272,0,54.857,13.759,54.857,32
                        S291.844,198.91,260.571,198.91z M356.571,148.624c-31.272,0-54.857-13.759-54.857-32s23.585-32,54.857-32
                        c31.272,0,54.857,13.759,54.857,32S387.844,148.624,356.571,148.624z" />
                                    <polygon points="0,380.807 173.714,471.797 173.714,309.584 0,218.594 			" />
                                </g>
                            </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>
                    </button>
                    <p>{{comment.data.reactions.length}}</p>

            </div>
        </div>
        <div class="post-comment">
            <form class="post-form d-flex flex-column" [formGroup]="newPostForm">
                <textarea class="textarea-comment" id="commentInput" cols="10" rows="10" formControlName="message"
                    placeholder="Pon algo guapo hermano...">
                    </textarea>
            </form>
            <button class="comment-btn btn" type="button" [disabled]="!newPostForm.valid"
                (click)="sendComment(newPostForm.value,data.post)">
                <img src="assets/imagen/brick_comments.svg" width="20px" height="auto" alt="">
            </button>
        </div>
    </div>
</div>