.mat-dialog-container {
    background-color: #414141;
    display: flex;
    padding: 24px;  
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
	border: 5px solid #7e5e9d;
    color: white;
}
.logo-dialog{
    
}
.reaction-btn{
    margin-left: auto;
	background-color: transparent;
	padding: 0;
	margin-right: 8px;
	svg{
		fill: #c2c2c2;
		width: 25px;
	}
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 55vw;
    h3{
        width: 100%;
    }
}
.comment-btn{
    background-color: #7e5e9d;
    border: #7e5e9d 2px solid;
    &:disabled{
        background-color: #414141;
    }
    img{
        fill: #444444;
    }
}
.reaction-btn{
	background-color: transparent;
	padding: 0;
	margin-right: 8px;
	svg{
		fill: #c2c2c2;
		width: 25px;
	}
}
.dialog-content{
    margin:0 16px;
}

.img-container{
    width: 52vw;
	border: 2px solid #7e5e9d;
    display: flex;
    min-height: 52vh;
    max-height: 66vh;
    align-items: center;
    div{
        width: 100%;
        max-height: 66vh;
        display: inherit;
        justify-content: center;
        video{
            &:focus {
                outline: none;
            }
        }
        img{
            max-width: 100%;
        }
    }
}

.comment-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    textarea{
        color: white;
        padding: 12px;
        width: 20vw;
        height: 50px;
        resize: none;
        background-color: #333;
        border-left: #7e5e9d 2px solid;
        border-bottom: #7e5e9d 2px solid;
        &:focus{
            outline :none;
        }
    }
}
.post-comment{
    display: flex;
}
.list-dialog{
	margin-top: 25px;
	flex-direction: column;

}
.post-detail-dialog{
    display: flex;
    justify-content: space-between;
    width: 77vw;
}
.hr-dialog{
	border-top: 2px solid rgba(0, 0, 0, 0.6);
}
.interaction-panel-post-dialog{
	display: -webkit-inline-box;
    width: 100%;
}
.m-r-20{
    margin-right: 20px;
}
.comment{
    width: 20vw;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    align-items: center;
    padding: 8px;
    border-bottom: solid 1px grey;
    b{
        margin-right: 0.5rem;
    }
    img{
        width: 35px;
        height: 35px;
        border: 2px solid #7e5e9d;
        border-radius: 50%;
        margin-right: 1rem;
    }
    p{
        margin: 0;
    }
}
.user-info{
    margin: 2rem 0;
}
.comments{
    overflow: auto;
    padding: 12px;
        height: 72vh;
	border: 2px solid #7e5e9d;
    overflow-wrap: break-word;
        h3{
            max-width: 20vw;
        }
}
.likeCommentButton{
    margin-left: auto;
}