
.list{
	margin-top: 25px;
	flex-direction: column;

}
.post-detail{
	margin:10px 0;
	align-items: center;
	padding:17px;
	background-color: #414141;
    width: -webkit-fill-available;
	border: 5px solid #7e5e9d;
}
.zoom{
	cursor: pointer;
	position: absolute;
	transition: 0.5s;
	background-color: rgba(255, 255, 255, 0.2);
	width: 100%;
	height: 100%;
	display: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px;
	background-image: url(../../../assets/imagen/zoom_in_black_24dp.svg);
}

.post-image{
	position: relative;
	margin-top: 16px;
	display: flex;
	justify-content: center;
	height: 336px;
	background-size: 108px;
    box-shadow: inset 0 0 20px 4px #0d0d0d;
	background-image: url(../../../assets/imagen/firewall.svg);
	&:hover{
		.zoom{
			display: block;
		}
	}
	img{
		max-width: 100%;
		height: 100%;
	}
	video{
		height: 100%;
		max-width: 100%;
		&:focus{
			outline: none;
		}
	}
}

.detail-bottom{
	padding-top: 16px ;
	margin-top: 16px;
	border-top: solid 2px rgb(105, 105, 105);
	display: flex;
	justify-content: space-between;
	p{
		margin:0;
	}
	div{
		div{
			align-items: center;
			margin-right: 8px;
		}
	}
}

.reaction-btn{
	background-color: transparent;
	padding: 0;
	margin-right: 8px;
	svg{
		fill: #c2c2c2;
		width: 25px;
	}
}
.interaction-panel{

	width: 100%;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.post-content{
	margin-top: 20px;
	max-width: fit-content;
}
.message{
	font-size: 15psx;
	word-wrap: break-word;
	width:700px;
}
.media-content{
	max-width: 720px;
	margin: auto;
	

}
.m-l-10{
	margin-left: 10px;
}
.m-l-20{
	margin-left: 20px;
}
.m-l-30{
	margin-left: 30px;
}
.m-l-40{
	margin-left: 40px;
}
.m-l-50{
	margin-left: 50px;
}